---
const { type } = Astro.props;

let customClass =
  "w-screen h-fit py-24 sm:min-h-screen flex flex-col relative overflow-hidden";

if (type === "mainTitle") {
  customClass =
    "w-screen h-screen flex flex-col relative overflow-hidden bg-josa-green text-josa-light";
}

if (type === "gradient") {
  customClass =
    "w-screen min-h-screen h-fit pb-8 xl:min-h-screen flex flex-col justify-center relative overflow-hidden bg-gradient-to-tl from-josa-cream to-josa-light-green dark:bg-gradient-to-br dark:from-josa-dark-green dark:from-20% dark:via-josa-green dark:via-80% dark:to-josa-light-brown";
}

if (type === "map") {
  customClass =
    "w-screen py-24 sm:min-h-screen flex flex-col relative overflow-hidden bg-[url('/bgPatterns/topography.svg')]";
}
---

<div class="snap-center">
  <section class={`${customClass}`}>
    <slot />
  </section>
</div>
