<div class="w-full sm:flex justify-center items-center">
  <nav
    class="font-semibold flex gap-4 text-sm [&>*]:hover:transition-transform [&>*]:hover:duration-700"
  >
    <a class="hover:scale-110" href="https://josa.cat/#services"> Serveis </a>
    <a class="hover:scale-110" href="https://josa.cat/#procedure">
      Procediment
    </a>
    <a class="hover:scale-110" href="https://josa.cat/#team"> Equip </a>
    <a class="hover:scale-110" href="mailto:georgina@josa.cat"> Contacte </a>
  </nav>
</div>
