---
import * as content from "../content/social.md";
import Icon from "./Icon.astro";

const { bg = "" } = Astro.props;
const social = content.frontmatter.social;

let footerClass = "flex flex-col snap-end justify-between p-8 gap-4";

if (bg === "green") {
  footerClass =
    "flex flex-col snap-end justify-between p-8 gap-4 bg-josa-green text-josa-light";
}
---

<footer class={footerClass}>
  <span>georgina@josa.cat</span>
  <div class="flex w-full justify-between align-middle items-center gap-4">
    <span>
      2024 Josa | Agència de comunicació. Tots els drets reservats ©
    </span>
    <span class="flex">
      {
        social.map((item) => (
          <a href={item.url} target="_blank" rel="noopener noreferrer">
            <Icon name={item.icon} />
          </a>
        ))
      }
    </span>
  </div>
</footer>
