---
import * as content from '../content/general/social.md'
import Icon from './Icon.astro'

const { bg = '' } = Astro.props
const social = content.frontmatter.social
---

<footer
  class="flex flex-col justify-between p-8 gap-4 bg-josa-green drop-shadow-lg text-josa-light"
>
  <span>georgina@josa.cat</span>
  <div class="flex w-full justify-between align-middle items-center gap-4">
    <span>
      2024 Josa | Agència de comunicació. Tots els drets reservats ©
    </span>
    <span class="flex">
      {
        social.map((item) => (
          <a href={item.url} target="_blank" rel="noopener noreferrer">
            <Icon name={item.icon} />
          </a>
        ))
      }
    </span>
  </div>
</footer>
