---
const { cardTitle, cardDescription, number } = Astro.props;

const newNumber = number + 1;
---

<li
  class="relative ms-6 p-6 mt-6 bg-josa-green text-josa-light bg-opacity-70 rounded-xl shadow-2xl flex flex-col gap-4 max-w-60 md:max-w-96 2xl:max-w-1/2"
>
  <span
    class="absolute bg-josa-green text-josa-light dark:text-josa-light -top-8 -left-14 flex items-center justify-center p-3 rounded-full w-14 h-14"
  >
    <p class="text-2xl font-extrabold">{newNumber}</p>
  </span>
  <span class="flex flex-col gap-2">
    <h3 class="font-medium leading-tight">
      <strong>
        {cardTitle}
      </strong>
    </h3>
    <p class="text-sm">{cardDescription}</p>
  </span>
</li>
